{% extends "layouts/main.html" %}
{% set serviceName = "Content manager" %}
{% set pageName="Add new item" %}
{% set serviceUrl="/content-manager/" %}


{% block beforeContent %}
    <div class="govuk-phase-banner">
        <p class="govuk-phase-banner__content">
            <strong class="govuk-tag govuk-phase-banner__content__tag">beta</strong>
            <span class="govuk-phase-banner__text">This is a new service – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.</span>
        </p>
    </div>
    {% from "govuk/components/back-link/macro.njk" import govukBackLink %}
    {{ govukBackLink({text: "Back", href: "/content-manager"}) }}
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <span class="govuk-caption-xl">{{ serviceName }}</span>
            <h1 class="govuk-heading-xl">{{ pageName }} </h1>
        </div>
    </div>

    <form class="" name="submitForm" action="#" method="post">



        <div class="govuk-grid-row" id="main-content">
            <div class="govuk-grid-column-two-thirds">
                <div class="govuk-form-group">
                    <label class="govuk-label govuk-label--s" for="name">Name of variable</label>
                    <div id="" class="govuk-hint">
                        Must be in CAPS with underscores and no spaces, for example: PAGE_PLACEHOLDER_NAME
                    </div>
                    <input class="govuk-input govuk-!-width-one-half" id="name" name="name" type="text" value="{{ singleItem.name }}">
                </div>
            </div>
        </div>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <div class="govuk-form-group">
                    <label class="govuk-label govuk-label--s" for="page">The page it appears on</label>
                    <div id="" class="govuk-hint">
                        This is the name of the page it appears on to allow them to be grouped for convenience, for example: 'generic', 'address input' or 'confirm answers'
                    </div>
                    <input class="govuk-input govuk-!-width-one-half" id="page" name="page" type="text" value="{{ singleItem.page }}">
                </div>
            </div>
        </div>

        {#<div class="govuk-grid-row" id="main-content">
            <div class="govuk-grid-column-two-thirds">
                <div class="govuk-form-group">
                    <label class="govuk-label govuk-label--s" for="type">The type of input</label>
                    <div id="" class="govuk-hint">
                        Should be 'input' for shorter content or titles or 'textarea' for bigger stuff like paragraphs.
                    </div>
                    <input class="govuk-input govuk-!-width-one-half" id="page" name="page" type="text" value="{{ singleItem.type }}">
                </div>
            </div>
        </div>#}

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <div class="govuk-form-group">
                    <label class="govuk-label govuk-label--s" for="value">The content or value of your placeholder</label>
                    <div id="" class="govuk-hint">
                        This is the actual text that is displayed in your label, title or paragraph
                    </div>
                    <textarea class="govuk-textarea" rows="4" id="value" name="value">{{ singleItem.value }}</textarea>
                </div>
            </div>
        </div>


        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <div class="govuk-form-group">

                    {#{% from "govuk/components/button/macro.njk" import govukButton %}

                    {{ govukButton({
                        text: "Continue"
                    }) }}#}

                    <button type="submit" class="govuk-button" name="submitButton" value="submitForm" data-module="govuk-button">
                        Save changes
                    </button>

                </div>
            </div>
        </div>

    </form>

{% endblock %}
